@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model AstroPod.Models.AppUser
@using AstroPod.ViewModels

<div class="container">
    <h2>AstroPod Dashboard </h2>



    @if (User.Identity.IsAuthenticated)
    {



        <h1>Hello @User.Identity.Name</h1>
        <h2>birthday: @Model.BirthDate</h2>
        <h2>Sun Sign: @Model.SunZod</h2>

        <a-scene embedded>
            <a-box position="@Model.UserSun 0.5 -3" rotation="0 45 0" color="@(User.Identity as AppUser).BirthDate"></a-box>
            <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
            <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
            <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
            <a-sky color="#ECECEC"></a-sky>
        </a-scene>
        {
            <input type="submit" class="btn btn-default" value="View Messages" />
        }
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }

    }
    else
    {
        <br />
        <br />
        <div class="btn-lg btn btn-danger">@Html.ActionLink("Register", "Register")</div>
        <br />
        <br />
        <div class="btn-lg btn btn-success">@Html.ActionLink("Log in", "Login")</div>
        <br />
        <br />
        <br />
    }

</div>