@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model AstroPod.Models.AppUser
@using AstroPod.ViewModels

<div class="container">
    <h2>AstroPod Dashboard </h2>



    @if (User.Identity.IsAuthenticated)
    {



        <h1>Hello @User.Identity.Name</h1>
        <h2>Born: @Model.BirthDate</h2>
        <h2>Sun Sign: @Model.SunZod</h2>
        <h2>Moon Sign: @Model.MoonZod</h2>
        <h2>Mercury Sign: @Model.MercZod</h2>
        <h2>Venus Sign: @Model.VenusZod</h2>
        <h2>Mars Sign: @Model.MarsZod</h2>
        <h2>Jupiter Sign: @Model.JupiterZod</h2>
        <h2>Saturn Sign: @Model.SaturnZod</h2>
        <h2>Uranus Sign: @Model.UranusZod</h2>
        <h2>Neptune Sign: @Model.NeptuneZod</h2>
        <h2>Pluto Sign : Scorpio *</h2>

        <a-scene embedded>
            <a-assets>
                <a-mixin id="cube" geometry="primitive: sphere; depth: 1; height: 1; width: 1"
                         material="color: #FFFBE0">
                </a-mixin>
                <a-mixin id="sun" material="color: yellow"></a-mixin>
                <a-mixin id="moon" material="color: blue"></a-mixin>
                <a-mixin id="merc" material="color: #FFA07A"></a-mixin>
                <a-mixin id="venus" material="color: #FFC300"></a-mixin>
                <a-mixin id="mars" material="color: #C70039"></a-mixin>
                <a-mixin id="jupiter" material="color: #935116"></a-mixin>
                <a-mixin id="saturn" material="color: #6C3483"></a-mixin>
                <a-mixin id="uranus" material="color: #48C9B0"></a-mixin>
                <a-mixin id="neptune" material="color: #A9CCE3"></a-mixin>
            </a-assets>


            <a-entity layout="type: circle; radius: 2.5; angle: @Model.UserSun;" position="0 0 -5">

                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube sun"></a-entity>
            </a-entity>

            <a-entity layout="type: circle; radius: 5; angle: @Model.UserMoon;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube moon"></a-entity>
            </a-entity>

            <a-entity layout="type: circle; radius: 7.5; angle: @Model.UserMerc;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube merc"></a-entity>
            </a-entity>

            <a-entity layout="type: circle; radius: 10; angle: @Model.UserVenus;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube venus"></a-entity>
            </a-entity>

            <a-entity layout="type: circle; radius: 12.5; angle: @Model.UserMars;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube mars"></a-entity>
            </a-entity>


            <a-entity layout="type: circle; radius: 15; angle: @Model.UserJupiter;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube jupiter"></a-entity>
            </a-entity>


            <a-entity layout="type: circle; radius: 17.5; angle: @Model.UserSaturn;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube saturn"></a-entity>
            </a-entity>

            <a-entity layout="type: circle; radius: 20; angle: @Model.UserUranus;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube uranus"></a-entity>
            </a-entity>

            <a-entity layout="type: circle; radius: 22.5; angle: @Model.UserNeptune;" position="0 0 -5">
                <a-entity mixin="cube"></a-entity>
                <a-entity mixin="cube neptune"></a-entity>
            </a-entity>
        </a-scene>


        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }

    }
    else
    {
        <br />
        <br />
        <div class="btn-lg btn btn-danger">@Html.ActionLink("Register", "Register")</div>
        <br />
        <br />
        <div class="btn-lg btn btn-success">@Html.ActionLink("Log in", "Login")</div>
        <br />
        <br />
        <br />
    }

</div>