@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System;

@using AstroPod.ViewModels
@model RegisterViewModel
<br>
<h2>Register a new user</h2>
<br />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(user => user.Email)
        @Html.TextBoxFor(user => user.Email)
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(user => user.UserName)
        @Html.TextBoxFor(user => user.UserName)
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(user => user.Password)
        @Html.PasswordFor(user => user.Password)
    </div>
    <br>
    <div class="row">
        @Html.LabelFor(user => user.ConfirmPassword)
        @Html.PasswordFor(user => user.ConfirmPassword)
    </div>

    <div class="row">
        @Html.LabelFor(user => user.BirthDate)
        @Html.TextBoxFor(user => user.BirthDate, new { @type = "date" })
    </div>
    <br />

    @Html.LabelFor(user => user.UserRoleId)

    <select name="role" id="role">
        @foreach (var role in ViewBag.Roles)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </select>
    <br />
    <br />

    <input type="submit" value="Register" class="btn-lg btn-success" />
}