@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<AstroPod.Models.AppUser>




<h1>@ViewBag.User.UserName's AstroPod</h1>
<p>Below is a list of other users with @ViewBag.User.SunZod Sun </p>


<div class="content">
    @if (User.IsInRole("Admin"))
    {
        <table class="table">
            <th>username</th>
            <th>born</th>

            <tr class="tbody">
                @foreach (var astro in Model)
                {


                    <td>@Html.DisplayFor(modelItem => astro.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => astro.BirthDate)</td>



                }

            </tr>
        </table>
    }

        <h3> See what others with @ViewBag.User.SunZod Sun are saying! </h3>
            @Html.ActionLink("Join this AstroPod", "New", "Comment")

 
   

    <a-scene embedded>
        <a-box position="1 0.5 -3" rotation="0 45 0" color="@User.Identity.Name"></a-box>
        <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
        <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
        <a-sky color="#ECECEC"></a-sky>
    </a-scene>
