@{
    ViewData["Title"] = "Add Inventory Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using AstroPod.Models
@model Content

<br>
<h2>Add New Content</h2>
<br />
@using (Html.BeginForm("New", "Content", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(content => content.Title)
        @Html.TextBoxFor(content => content.Title)
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(content => content.Description)
        @Html.EditorFor(content => content.Description)
    </div>

    <div class="row">
        @Html.LabelFor(content => content.Image)
        @Html.EditorFor(content => content.Image)
    </div>
    <br />
    <br />

    <input type="submit" value="Add" class="btn-lg btn-success" />
}