@*@{
        ViewData["Title"] = "Add Stock";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<br>
<h2>Add Stock to a New Inventory Item</h2>
<br />
<form action='../AddConfirmed/@ViewBag.id' method="post">
    <div class="row">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" />
        <label for="description">Description </label>
        <in@{
    ViewData["Title"] = "Add Inventory Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using NicoPortfolio.Models
@model Content

<br>
<h2>Add New Content</h2>
<br />
@using (Html.BeginForm("New", "Content", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(content => content.Title)
        @Html.TextBoxFor(content => content.Title)
    </div>
    <br />
    <div class="row">
        @Html.LabelFor(content => content.Description)
        @Html.EditorFor(content => content.Description)
    </div>

    <div class="row">
        @Html.LabelFor(content => content.Image)
        @Html.EditorFor(content => content.Image)
    </div>
    <br />
    <br />

    <input type="submit" value="Add" class="btn-lg btn-success" />
}ut type="text" name="description" id="description" />
        <input type="text" name="image" id="image" />
    </div>
    <br />
    <br />

    <input type="submit" value="Add" class="btn-lg btn-success" />
</form>